<div class="container-fluid">
  <div class="row footer">
    <div class="col-12 bg-primary text-center footer-top">
      <a href="">
        للدعم اتصل على ١٩٩١١
      </a>
      <span>|</span>
      <a href="">
        تواصل معنا على تويتر
      </a>
    </div>
    <div class="row mx-0 py-3 py-sm-5 py-lg-5 bg-primary-light footer-bottom">
      <div class="col-lg-4 col-sm-4 col-12 text-center my-3 my-sm-0 ms-lg-0">
        <a [routerLink]="['/']">
          <img src="../../../../../assets/images/masar-w.png" class="img-fluid"/>
        </a>
      </div>
      <div class="col-lg-4 col-sm-4 col-12 text-center my-3 my-sm-0 ms-lg-0">
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <a href="#">سياسة الخصوصية  &nbsp; | </a>
          </li>
          <li class="list-inline-item">
            <a href="#">خارطة الموقع &nbsp; |  </a>
          </li>
          <li class="list-inline-item">
            <a [routerLink]="['/FAQ']"> الاسئلة الشائعة </a>
          </li>
        </ul>
        <div class="copyright">
          <p>جميع الحقق محفوظة لـ وزارة الموارد البشرية والتنمية الاجتماعية © 2021</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-4 col-12 text-center my-3 my-sm-0 ms-lg-0">
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <img src="../../../../../assets/images/logo_white.png" class="img-fluid">
          </li>
          <li class="list-inline-item">
            <img src="../../../../../assets/images/Sh1.png" class="img-fluid">
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
