<div class="card">
  <div class="card-inner">

    <div class="card-body card-front">
      <h5 class="card-title">{{title}}</h5>
      <div class="card-subtitle">وصف الخدمة</div>
      <p class="card-text mb-lg-5 mb-sm-2 mb-2">{{description}}</p>

      <a href={{url}} class="btn btn-primary float-end">بدء الخدمة</a>
    </div>

    <div class="card-body card-back">

      <h5 class="card-title">{{title}}</h5>
      <div class="card-subtitle">وصف الخدمة</div>
      <p class="card-text mb-lg-5 mb-sm-2 mb-2">{{description}}</p>

      <a href={{url}} class="btn btn-light float-end">بدء الخدمة</a>
    </div>
  </div>
</div>
