<div class="row">
  <div class="card mb-3 col-sm-4 col-12">
    <div class="row g-0">
        <div class="col-md-4 d-flex align-items-center text-center">
          <img src="assets/images/logo.png" class="img-fluid rounded-start m-auto" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{property.Name}}</h5>
            <p class="card-text">{{property.Type}}</p>
            <div class="w-100 text-end">
              <a href="#" class="btn btn-primary">{{property.Price}}</a>
            </div>
          </div>
        </div>
    </div>
  </div>

</div>
