<section class="container my-3">
  <div class="row mx-auto">
    <div class="col-12">
      <h1 class="home-title">
        الاسئلة الشائعة

        <span>اختر مجموعات الاسئلة</span>
      </h1>

      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link active" id="faq-individual-tab" data-bs-toggle="tab" data-bs-target="#faq-home" type="button" role="tab" aria-controls="faq-home" aria-selected="true">افراد</button>
          <button class="nav-link" id="faq-employees-tab" data-bs-toggle="tab" data-bs-target="#faq-employees" type="button" role="tab" aria-controls="faq-employees" aria-selected="false">موظفين</button>
          <button class="nav-link" id="faq-gov-tab" data-bs-toggle="tab" data-bs-target="#faq-gov" type="button" role="tab" aria-controls="faq-gov" aria-selected="false">الجهات الحكومية</button>
        </div>
      </nav>

      <div class="tab-content bg-transparent border-0" id="nav-tabContent">

        <div class="tab-pane fade show active" id="faq-home" role="tabpanel" aria-labelledby="faq-individual-tab">
          <div class="row gx-5">
            <div class="col-12">
              <div class="accordion" id="faqaccordion">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne0">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse0" aria-expanded="true" aria-controls="collapseOne">
                      ما مدى صرف بدل تعيين لمن يتم تعيينه بوظيفة خاضعة لنظام الخدمة المدنية أو لائحة المستخدمين وله خدمة سابقة على بند الأجور؟
                    </button>
                  </h2>
                  <div id="collapse0" class="accordion-collapse collapse " aria-labelledby="headingOne0" data-bs-parent="#faqaccordion">
                    <div class="accordion-body">
                      عدم استحقاق المعين على بند الأجور بعد (1/7/99هـ) لبدل التعيين عندما يلتحق بوظيفة خاضعة لنظام الخدمة المدنية ولائحة المستخدمين.
                    </div>

                    <div class="col-12 mx-auto mb-3 text-center">
                      <p class="color-secondry">هل كانت هذه المعلومات مفيدة؟</p>
                      <a href="#" class="mx-3 link-warning">
                        <i class="far fa-smile-beam"></i>
                      </a>
                      <a href="#" class="mx-3 link-primary">
                        <i class="far fa-frown"></i>
                      </a>
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo0">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapseTwo">
                      ما مدى صرف بدل تعيين لمن يتم تعيينه بوظيفة خاضعة لنظام الخدمة المدنية أو لائحة المستخدمين وله خدمة سابقة على بند الأجور؟
                    </button>
                  </h2>
                  <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="headingTwo0" data-bs-parent="#faqaccordion">
                    <div class="accordion-body">
                      عدم استحقاق المعين على بند الأجور بعد (1/7/99هـ) لبدل التعيين عندما يلتحق بوظيفة خاضعة لنظام الخدمة المدنية ولائحة المستخدمين.
                    </div>
                    <div class="col-12 mx-auto mb-3 text-center">
                      <p class="color-secondry">هل كانت هذه المعلومات مفيدة؟</p>
                      <a href="#" class="mx-3 link-warning">
                        <i class="far fa-smile-beam"></i>
                      </a>
                      <a href="#" class="mx-3 link-primary">
                        <i class="far fa-frown"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div class="col-12">
              <div class="accordion" id="faqaccordion1">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne1">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapseOne">
                      ما مدى صرف بدل تعيين لمن يتم تعيينه بوظيفة خاضعة لنظام الخدمة المدنية أو لائحة المستخدمين وله خدمة سابقة على بند الأجور؟
                    </button>
                  </h2>
                  <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="headingOne1" data-bs-parent="#faqaccordion1">
                    <div class="accordion-body">
                      عدم استحقاق المعين على بند الأجور بعد (1/7/99هـ) لبدل التعيين عندما يلتحق بوظيفة خاضعة لنظام الخدمة المدنية ولائحة المستخدمين.
                    </div>
                    <div class="col-12 mx-auto mb-3 text-center">
                      <p class="color-secondry">هل كانت هذه المعلومات مفيدة؟</p>
                      <a href="#" class="mx-3 link-warning">
                        <i class="far fa-smile-beam"></i>
                      </a>
                      <a href="#" class="mx-3 link-primary">
                        <i class="far fa-frown"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo1">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapseTwo">
                      ما مدى صرف بدل تعيين لمن يتم تعيينه بوظيفة خاضعة لنظام الخدمة المدنية أو لائحة المستخدمين وله خدمة سابقة على بند الأجور؟
                    </button>
                  </h2>
                  <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="headingTwo1" data-bs-parent="#faqaccordion1">
                    <div class="accordion-body">
                      عدم استحقاق المعين على بند الأجور بعد (1/7/99هـ) لبدل التعيين عندما يلتحق بوظيفة خاضعة لنظام الخدمة المدنية ولائحة المستخدمين.
                    </div>
                    <div class="col-12 mx-auto mb-3 text-center">
                      <p class="color-secondry">هل كانت هذه المعلومات مفيدة؟</p>
                      <a href="#" class="mx-3 link-warning">
                        <i class="far fa-smile-beam"></i>
                      </a>
                      <a href="#" class="mx-3 link-primary">
                        <i class="far fa-frown"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>

        <div class="tab-pane fade" id="faq-employees" role="tabpanel" aria-labelledby="faq-employees-tab">
          <div class="row gx-5">
            <div class="col-12">
              <div class="accordion" id="faqaccordion2">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne0">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse0" aria-expanded="true" aria-controls="collapseOne">
                      ما مدى صرف بدل تعيين لمن يتم تعيينه بوظيفة خاضعة لنظام الخدمة المدنية أو لائحة المستخدمين وله خدمة سابقة على بند الأجور؟
                    </button>
                  </h2>
                  <div id="collapse0" class="accordion-collapse collapse " aria-labelledby="headingOne0" data-bs-parent="#faqaccordion2">
                    <div class="accordion-body">
                      عدم استحقاق المعين على بند الأجور بعد (1/7/99هـ) لبدل التعيين عندما يلتحق بوظيفة خاضعة لنظام الخدمة المدنية ولائحة المستخدمين.
                    </div>
                    <div class="col-12 mx-auto mb-3 text-center">
                      <p class="color-secondry">هل كانت هذه المعلومات مفيدة؟</p>
                      <a href="#" class="mx-3 link-warning">
                        <i class="far fa-smile-beam"></i>
                      </a>
                      <a href="#" class="mx-3 link-primary">
                        <i class="far fa-frown"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo0">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapseTwo">
                      ما مدى صرف بدل تعيين لمن يتم تعيينه بوظيفة خاضعة لنظام الخدمة المدنية أو لائحة المستخدمين وله خدمة سابقة على بند الأجور؟
                    </button>
                  </h2>
                  <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="headingTwo0" data-bs-parent="#faqaccordion2">
                    <div class="accordion-body">
                      عدم استحقاق المعين على بند الأجور بعد (1/7/99هـ) لبدل التعيين عندما يلتحق بوظيفة خاضعة لنظام الخدمة المدنية ولائحة المستخدمين.
                    </div>
                    <div class="col-12 mx-auto mb-3 text-center">
                      <p class="color-secondry">هل كانت هذه المعلومات مفيدة؟</p>
                      <a href="#" class="mx-3 link-warning">
                        <i class="far fa-smile-beam"></i>
                      </a>
                      <a href="#" class="mx-3 link-primary">
                        <i class="far fa-frown"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div class="col-12">
              <div class="accordion" id="faqaccordion3">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne1">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapseOne">
                      ما مدى صرف بدل تعيين لمن يتم تعيينه بوظيفة خاضعة لنظام الخدمة المدنية أو لائحة المستخدمين وله خدمة سابقة على بند الأجور؟
                    </button>
                  </h2>
                  <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="headingOne1" data-bs-parent="#faqaccordion3">
                    <div class="accordion-body">
                      عدم استحقاق المعين على بند الأجور بعد (1/7/99هـ) لبدل التعيين عندما يلتحق بوظيفة خاضعة لنظام الخدمة المدنية ولائحة المستخدمين.
                    </div>
                    <div class="col-12 mx-auto mb-3 text-center">
                      <p class="color-secondry">هل كانت هذه المعلومات مفيدة؟</p>
                      <a href="#" class="mx-3 link-warning">
                        <i class="far fa-smile-beam"></i>
                      </a>
                      <a href="#" class="mx-3 link-primary">
                        <i class="far fa-frown"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo1">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapseTwo">
                      ما مدى صرف بدل تعيين لمن يتم تعيينه بوظيفة خاضعة لنظام الخدمة المدنية أو لائحة المستخدمين وله خدمة سابقة على بند الأجور؟
                    </button>
                  </h2>
                  <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="headingTwo1" data-bs-parent="#faqaccordion3">
                    <div class="accordion-body">
                      عدم استحقاق المعين على بند الأجور بعد (1/7/99هـ) لبدل التعيين عندما يلتحق بوظيفة خاضعة لنظام الخدمة المدنية ولائحة المستخدمين.
                    </div>
                    <div class="col-12 mx-auto mb-3 text-center">
                      <p class="color-secondry">هل كانت هذه المعلومات مفيدة؟</p>
                      <a href="#" class="mx-3 link-warning">
                        <i class="far fa-smile-beam"></i>
                      </a>
                      <a href="#" class="mx-3 link-primary">
                        <i class="far fa-frown"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>

        <div class="tab-pane fade" id="faq-gov" role="tabpanel" aria-labelledby="faq-gov-tab">
          <div class="row gx-5">
            <div class="col-12">
              <div class="accordion" id="faqaccordion4">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne0">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse0" aria-expanded="true" aria-controls="collapseOne">
                      ما مدى صرف بدل تعيين لمن يتم تعيينه بوظيفة خاضعة لنظام الخدمة المدنية أو لائحة المستخدمين وله خدمة سابقة على بند الأجور؟
                    </button>
                  </h2>
                  <div id="collapse0" class="accordion-collapse collapse " aria-labelledby="headingOne0" data-bs-parent="#faqaccordion4">
                    <div class="accordion-body">
                      عدم استحقاق المعين على بند الأجور بعد (1/7/99هـ) لبدل التعيين عندما يلتحق بوظيفة خاضعة لنظام الخدمة المدنية ولائحة المستخدمين.
                    </div>
                    <div class="col-12 mx-auto mb-3 text-center">
                      <p class="color-secondry">هل كانت هذه المعلومات مفيدة؟</p>
                      <a href="#" class="mx-3 link-warning">
                        <i class="far fa-smile-beam"></i>
                      </a>
                      <a href="#" class="mx-3 link-primary">
                        <i class="far fa-frown"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo0">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapseTwo">
                      ما مدى صرف بدل تعيين لمن يتم تعيينه بوظيفة خاضعة لنظام الخدمة المدنية أو لائحة المستخدمين وله خدمة سابقة على بند الأجور؟
                    </button>
                  </h2>
                  <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="headingTwo0" data-bs-parent="#faqaccordion4">
                    <div class="accordion-body">
                      عدم استحقاق المعين على بند الأجور بعد (1/7/99هـ) لبدل التعيين عندما يلتحق بوظيفة خاضعة لنظام الخدمة المدنية ولائحة المستخدمين.
                    </div>
                    <div class="col-12 mx-auto mb-3 text-center">
                      <p class="color-secondry">هل كانت هذه المعلومات مفيدة؟</p>
                      <a href="#" class="mx-3 link-warning">
                        <i class="far fa-smile-beam"></i>
                      </a>
                      <a href="#" class="mx-3 link-primary">
                        <i class="far fa-frown"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div class="col-12">
              <div class="accordion" id="faqaccordion5">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne1">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapseOne">
                      ما مدى صرف بدل تعيين لمن يتم تعيينه بوظيفة خاضعة لنظام الخدمة المدنية أو لائحة المستخدمين وله خدمة سابقة على بند الأجور؟
                    </button>
                  </h2>
                  <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="headingOne1" data-bs-parent="#faqaccordion5">
                    <div class="accordion-body">
                      عدم استحقاق المعين على بند الأجور بعد (1/7/99هـ) لبدل التعيين عندما يلتحق بوظيفة خاضعة لنظام الخدمة المدنية ولائحة المستخدمين.
                    </div>
                    <div class="col-12 mx-auto mb-3 text-center">
                      <p class="color-secondry">هل كانت هذه المعلومات مفيدة؟</p>
                      <a href="#" class="mx-3 link-warning">
                        <i class="far fa-smile-beam"></i>
                      </a>
                      <a href="#" class="mx-3 link-primary">
                        <i class="far fa-frown"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo1">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapseTwo">
                      ما مدى صرف بدل تعيين لمن يتم تعيينه بوظيفة خاضعة لنظام الخدمة المدنية أو لائحة المستخدمين وله خدمة سابقة على بند الأجور؟
                    </button>
                  </h2>
                  <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="headingTwo1" data-bs-parent="#faqaccordion5">
                    <div class="accordion-body">
                      عدم استحقاق المعين على بند الأجور بعد (1/7/99هـ) لبدل التعيين عندما يلتحق بوظيفة خاضعة لنظام الخدمة المدنية ولائحة المستخدمين.
                    </div>
                    <div class="col-12 mx-auto mb-3 text-center">
                      <p class="color-secondry">هل كانت هذه المعلومات مفيدة؟</p>
                      <a href="#" class="mx-3 link-warning">
                        <i class="far fa-smile-beam"></i>
                      </a>
                      <a href="#" class="mx-3 link-primary">
                        <i class="far fa-frown"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>

