/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: HRSD-Regular;
  src: url("assets/fonts/HRSD-Regular.ttf") format("truetype");
  src: url("assets/fonts/HRSD-Medium.ttf") format("truetype"),url("assets/fonts/HRSD-Bold.ttf") format("truetype"),url("assets/fonts/HRSD-Light.ttf") format("truetype");
}
body{
  direction: rtl;
  font-family: HRSD;
  font-weight: 500;
}
.mn-66vh{
  min-height: 66vh;
}
html, *{
  scroll-behavior: smooth !important;
  font-family: HRSD;
  font-weight: 500;
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgb(43, 128, 139);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(43, 128, 139);
  outline: 1px solid rgb(43, 128, 139);
  border-radius: 10px;
}

.f-s-6rem{
  font-size:6rem;
}

.carousel-caption {
  position: absolute;
  left: 15%;
  bottom: 1.25rem;
  right: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: right;
  top: 38%;
  width: 40%;
  font-weight: normal !important;
}

.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  opacity: 1;
  border-top: none;
  border-bottom: none;
}

.carousel-indicators .active {
  background-color: #009688;
  box-shadow: 0px 0px 7px #1bdcca;
  border-radius: 50%;
}

.svg-inline--fa {
  margin: 0px 5px;
}

.px140{
  padding: 0px 140px;
}
.bg-home-sections{
  background-color: #f5f5f5;
}
.color-secondry{
  color: #33ADB8;
}
.btn-primary{
  background-color: #33ADB8;
  font-size: 16px;
  border: none;
  border-radius: 0px;
  padding: 12px 30px;
}
.btn-primary:hover {
  color: #fff;
  background-color: #607D8B;
  border-color: #607D8B;
}


.btn-secondary{
  background-color: #394850;
  font-size: 16px;
  border: none;
  border-radius: 0px;
  padding: 12px 30px;
}
.btn-secondary:hover {
  color: #fff;
  background-color: #607D8B;
  border-color: #607D8B;
}

.btn-light{
  background-color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 0px;
  padding: 12px 30px;
}
.btn-light:hover {
  color: #fff;
  background-color: #607D8B;
  border-color: #607D8B;
}
.btn-check:focus+.btn-primary, .btn-primary:focus {
  color: #fff;
  background-color: #607D8B;
  border-color: #607D8B;
  box-shadow: 0 0 0 0.25rem rgb(96 125 139 / 0.5);
}

.form-control{
  border-radius: 0;
  height: 42px;
}

.form-control,.form-check-input {
  border: 1px solid #33adb8;
}
.form-control:focus,.form-check-input:focus {
  border-color: #33adb8;
  box-shadow: 0 0 5px 0.25rem rgb(0 150 136 / 20%);
}

.form-check-input:checked {
  background-color: #33adb8;
  border-color: #33adb8;
}
.modal-open{
  padding-right: 0px !important;
}
.modal-content{
  border-radius: 0;
}

.home-title{
  text-align: right;
  font-size: 30px;
  color: #13415A;
  margin-bottom: 30px;
}
.top-navbar{
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;
}
.navbar-text, .navbar-text a, .navbar-nav .nav-link, .navbar-nav .nav-link.active, .navbar-nav .nav-link:hover{
  color:#fff !important;
  margin: 0px 10px;
}

.nav-link.active{
  height: 42px;
  border-bottom: 1px solid #fff;
}
.nav-link:hover{
  height: 42px;
  border-bottom: 1px solid #fff;
}


.nav-tabs {
  border-bottom: none;
}

.nav-tabs .nav-link:focus{
  outline: none;
}
.nav-tabs .nav-link{
  padding: .5rem 2rem;
  color: #333333;
  border:1px solid rgba(19, 65, 90, 0.3);
  border-radius: 0px;
  background: #fff;
  min-width: 160px;
  margin-bottom: 0px;
}
.nav-tabs .nav-link.active {
  color: #fff;
  background-color: rgba(19, 65, 90, 0.8);
  border: 1px solid rgba(19, 65, 90, 0.3);
  margin: 0px 0px;
  height: 42px;
}
.nav-tabs .nav-link:hover {
  border-color: rgba(19, 65, 90, 0.3);
  isolation: isolate;
  background: rgb(19 65 90 / 0.8);
  color: #fff;
  margin-bottom: 0px;
}
.tab-content>.tab-pane {
  border: 1px solid rgba(19, 65, 90, 0.3);
  font-size: 16px;
  line-height: 30px;
  color: rgb(19 65 90 / 80%);
  margin-top: 15px;
}


.card {
  border-radius: 0;
  width: 100%;
  min-height: 360px;
  border: none;
}
.card-title{
  font-size: 24px;
  color: #33ADB8;
  padding: 10px 0px 20px;
  border-bottom: 1px solid rgba(19, 65, 90, 0.3);
}
.card-text{
  color: rgba(19, 65, 90, 0.8);
  font-size: 16px;
  line-height: 30px;
}
.card-subtitle{
  font-size: 20px;
  color:rgba(19, 65, 90, 0.8);
  margin: 20px 0px 10px 0px;
  line-height: 20px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: right;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border: 1px solid rgb(19 65 90 / 80%);
  min-height: 418px;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  min-height: 418px;
}


.card-back {
  background-color: rgba(19, 65, 90, 0.8);
  color: white;
  transform: rotateY(180deg);
}

.card-back .card-title, .card-back .card-text, .card-back .card-subtitle{
  color: #fff;
}



.link-primary,.link-primary:focus, .link-primary:hover{
  color: #13415A;
}
.link-warning,.link-warning:focus, .link-warning:hover {
  color: #ff8507;
}

.bg-primary{
  background-color: #13415A !important;
}
.bg-primary-light{
  background-color: rgba(19, 65, 90, 0.8);
}

.tab-content>.tab-pane {
  border: none;
  padding: 15px 0px;
}
.home-title span{
  display: block;
  font-size: 16px;
}
.accordion-item {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,.125);
    margin-bottom: 1.5rem;
}
.accordion-button:focus {
  z-index: 3;
  border-color: transparent;
  outline: 0;
  box-shadow: none;
}
.accordion-button:not(.collapsed) {
  color: #13415A;
  background-color: transparent;
  box-shadow: none;
}
.accordion-button {
  background-color: transparent;
  font-size: 18px;
  padding: 1rem 0;
}
.accordion-button:not(.collapsed)::after {
  filter: brightness(0.3) sepia(0.0) hue-rotate(-70deg) saturate(0.5);
}

.fs-7{
  font-size: 0.5rem;
}
.footer, .footer a{
  color: #fff;
  text-decoration: none;
}

.footer-top{
  height: 60px;
  line-height: 60px;
}

.footer-top span{
  margin: 0px 10px;
}


@media (max-width:1024px) {
  .carousel-caption {
    top: 20%;
    width: 80%;
}
.f-s-6rem {
  font-size: 4rem;
}
  .logo {
    max-width: 55%;
    height: auto;
}
.px140{
  padding: 0px 30px;
}
.nav-tabs .nav-link{
  min-width: auto;
  margin-bottom: 0px;
}
.card-title {
  font-size: 18px;
}
.card-text {
  color: rgba(19, 65, 90, 0.8);
  font-size: 14px;
  line-height: 27px;
}

}


@media (max-width:768px) {
  .top-navbar .navbar-nav .nav-link, .top-navbar a, .navbar-nav .nav-link.active, .nav-link:hover {
    color: rgba(19, 65, 90, 1) !important;
  }
  .card-title {
    font-size: 24px;
  }
  .card-text {
    color: rgba(19, 65, 90, 0.8);
    font-size: 16px;
    line-height: 30px;
  }

  .card-inner, .card-front, .card-back {
    min-height: 438px;
}

  .bg-xs-light{
    background-color: #fff;
  }
  .logo {
    max-width: 50%;
    height: auto;
}
.nav-item{
  border-bottom: 1px solid #ddd;
}
  .navbar-light .navbar-toggler-icon {
    filter: invert(1);
  }
  .navbar-light .navbar-toggler {
    border-color: #fff;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
}

@media (max-width:425px) {
  .card-inner, .card-front, .card-back {
    min-height: 380px;
}
}


@media (max-width:375px) {
  .nav-tabs .nav-link{
    min-width: auto;
  }
  .card-inner, .card-front, .card-back {
    min-height: 438px;
}
}

